<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">	
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<meta charset="UTF-8">
		<title>Detalles</title>
	</head>
<body style="background-color: fuchsia;">
	<nav data-th-replace="parts/menu :: menu"></nav>

	<nav data-th-replace="component/componentes :: _navbar"></nav>
	<div class="container bg-dark">
		<div class="row mt-3"></div>
		
		<div class="row mt-5" >
			<div class="col-12 text-center my-5">
				<p class="fs-1 text-warning fw-bold font-monospace" data-th-text="${curso.nombre}"></p>
			</div>
			<div class="row">
				<div class="col-3">
					<img alt="" class="img-thumbnail" data-th-src="@{/curso/image/{id}(id=${curso.id})}" >
				</div>
				<div class="col-5 d-flex align-items-center text-white">
					<div class="row">
						<div class="col-12">
							<p class="fs-4">Descripcion: </p>
						</div>
						<div class="col-12">
							<p class="fs-6" data-th-text="${curso.descripcion}"></p>
						</div>
					</div>
				</div>
				
			<div class="row">
				<div class="col-12 mt-3">
					<p class="fs-6 text-white">Fecha inicio: <span class="fs-6" data-th-text="${curso.fechaInicio}"></span></p>
					<p class="fs-6 text-white">Fecha fin: <span class="fs-6" data-th-text="${curso.fechaFin}"></span></p>
					<p class="fs-6 text-white">Cupos: <span class="fs-6" data-th-text="${curso.cupos}"></span></p>
				</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="btn btn-outline-danger" data-th-href="@{/}">Volver</a>
				<a data-sec-authorize="hasAuthority('POSTULANTE')" class="btn btn-outline-success" data-th-href="@{/postulacion/registrar/{id}(id=${curso.id})}">Postular</a>
			</div>
		</div>
	</div>
</html>