<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
</head>
<body style="background-color: fuchsia;">
	<div data-th-fragment="menu" >
		<div class="logo my-3 ms-5 text-center text-lg-start">
			<a class="" href="#" data-th-href="@{/}">
				<img data-th-src="@{/img/cft1-removebg-preview.png}" src="#" alt="Logo" style="width: 200px;"/>
				<astrong  style="font-size: 4em; color: black; ">CFT T-PODÍ</a>
				<img data-th-src="@{/img/tu-removebg-preview.png}" src="#" alt="Logo" style="width: 100px;"/>
				<a style="font-size: 2em; color: black; text-align: center;">Puedes Lograrlo!</a>
			</a>
		</div>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark"  data-th-fragment="menu"  >
  <div class="container-fluid text-primary" >
    <a class="navbar-brand" data-th-href="@{/}">Bienvenido <span data-sec-authorize="hasAuthority('ADMINISTRADOR')" data-th-text="${#authentication.getPrincipal().getAdministrador().getUsername()}"></span> 
    <span data-sec-authorize="!isAuthenticated()">invitado</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" data-th-href="@{/}">Inicio</a>
        </li>
        <li class="nav-item dropdown"  >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-sec-authorize="hasAuthority('ADMINISTRADOR')">
            Administracion
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" data-th-href="@{/admin/index}">Panel</a></li>
            <li><a class="dropdown-item" data-th-href="@{/admin/nuevocurso}">Añadir nuevo curso</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"  > 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-sec-authorize="hasAuthority('ESTUDIANTE')">
            Estudiante
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" data-th-href="@{/estudiante/index}">Panel</a></li>
            <li><a class="dropdown-item" data-th-href="@{/}">Cursos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-sec-authorize="!isAuthenticated()" data-th-href="@{/registro}">Registrarme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-sec-authorize="!isAuthenticated()" data-th-href="@{/login}">Ingresar</a>
          <a class="nav-link active" data-sec-authorize="isAuthenticated()" data-th-href="@{/salir}">Salir</a>
        </li>
      </ul>
      <form
						data-th-action="@{/}"
						method="get" 
						class="d-flex" 
						role="search"
					>
        				<input name="q" class="form-control me-2" type="text" placeholder="Buscar" aria-label="Buscar" />
        				<button class="btn btn-outline-primary" type="submit">Buscar</button>
      				</form>
    </div>
  </div>
</nav>
</body>
</html>