<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon"  type="imagen/x-icon" href="../imagen/favicon.png">
</head>
<body style="background-color: fuchsia;">
<nav class="navbar navbar-expand-lg bg-dark "  data-th-fragment="menu" >
  <div class="container-fluid">
    <a class="navbar-brand" data-th-href="@{/}">Bienvenido <span data-sec-authorize="hasAuthority('ADMINISTRADOR')" data-th-text="${#authentication.getPrincipal().getAdministrador().getUsername()}"></span> 
    <span data-sec-authorize="!isAuthenticated()">invitado</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" data-th-href="@{/}">Inicio</a>
        </li>
        <li class="nav-item dropdown"  >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-sec-authorize="hasAuthority('ADMINISTRADOR')">
            Administracion
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" data-th-href="@{/admin/index}">Panel</a></li>
            <li><a class="dropdown-item" data-th-href="@{/admin/nuevocurso}">Añadir nuevo curso</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"  > 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-sec-authorize="hasAuthority('ESTUDIANTE')">
            Estudiante
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" data-th-href="@{/estudiante/index}">Panel</a></li>
            <li><a class="dropdown-item" data-th-href="@{/}">Cursos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-sec-authorize="!isAuthenticated()" data-th-href="@{/registro}">Registrarme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-sec-authorize="!isAuthenticated()" data-th-href="@{/login}">Ingresar</a>
          <a class="nav-link active" data-sec-authorize="isAuthenticated()" data-th-href="@{/salir}">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>